html {
  background-color: #161616;
  color: #FFF;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
h1{
  text-align: center;
  font-family: 'Poppins', sans-serif;
}


nav {
  
  background-color: #161616;
  display: flex;
  justify-content: center;
  border-radius: 100px;
  font-size: 20px;
  border: 2px solid transparent;
  text-decoration: none;
   
}
 
nav a {
  color: #fff;
  padding: 14px 16px;
  font-weight: 300;
  outline:none;
  cursor:pointer;
  text-transform: uppercase;
  text-decoration: none;
}

nav a:hover {
  color: #3DCFD3;
  text-decoration: none;
  transition: all .5s ease;
}

#aboutPage img {
  float: left;
}
#aboutPage p:hover{
  color: #70526e;
  text-decoration: none;
  transition: all .5s ease;
}

#aboutPage h2:hover{
color:#1f989c;
text-decoration: none;
transition: all .5s ease;}
#aboutPage li:hover{
color: #70526e;
text-decoration: none;
transition: all .5s ease;}
#aboutPage li a{
  text-decoration: none;
}
#skillsPage{
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}
 
.image {
  border-radius: 8px;
}
